<p>
  about works!
</p>

<p>
  {{body.about}}
</p>
<button class='btn btn-warning' *ngIf='!updatingAbout' (click)='toggleForm()'>Update About</button>


<div *ngIf='updatingAbout' class="card">
    <div class="card-body">
      <div class="card-title">
        <h3>Update About</h3>
      </div>
      <div class="card-text">
        <div class="form-group">
          <label>Content</label>
          <textarea [(ngModel)]='body.about' class="form-control"></textarea>
        </div>
        <button class="btn btn-info" (click)='updateAbout(body)'>Update About</button>
        <button class="btn btn-warning" (click)='toggleForm()'>Cancel</button>

      </div>
    </div>
  </div>
