.navbar {
    background-color: rgba(79, 148, 229, 0.75);
    color: white;
}

.navbar-brand{
    margin-right: 0px;
    display: inline-block;
}

.nav-link:hover {
    cursor: pointer;
    font-weight: bold;
    color: white;
}