<div class="gallery-section">
  <div class="container">
    <div class="col">
      <ul>
        <li *ngFor="let gallery of galleries">
          <div class="card" (click)='goToDetailPage(gallery.name)'>
            <div class="card-body">
              <h1>{{gallery.name}}</h1>
                <p>Click to View Gallery</p>
            </div>
            <div *ngIf='(user|async)?.uid' class="card-footer">
              <button class="btn btn-danger" (click)='deleteGallery(gallery)'>Delete</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf='(user|async)?.uid'>
      <app-gallery-add></app-gallery-add>
    </div>
  </div>
</div>