<title>Voyages & Pricing</title>

<div id="voyagesSection">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2>Voyages & Pricing</h2>
            <hr>
            <p style="white-space: pre-line">
              {{(body | async)?.voyages}}
            </p>
            <div *ngIf='(user|async)?.uid'>
              <button class='btn btn-warning' *ngIf='!updatingPricing' (click)='toggleForm()'>Update Pricing</button>
            </div>
            <button (click)='navToContact()' class="contact-btn">Contact Us</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-6">
        <div *ngIf='updatingPricing' class="card">
          <div class="card-body">
            <div class="card-title">
              <h3>Update Voyages</h3>
            </div>
            <div class="card-text">
              <div class="form-group">
                <label>Content</label>
                <textarea [(ngModel)]='body.voyages' class="form-control"></textarea>
              </div>
              <button class="btn btn-info" (click)='updateVoyages(body)'>Update Voyages</button>
              <button class="btn btn-warning" (click)='toggleForm()'>Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-resources></app-resources>
  </div>
</div>