<div id="section1">
  <div class="container">
    <div class="col-sm-12 col-md-6 col-lg-5">
      <div class="card">
        <div class="card-body">
          <img id='headerImg' src="assets/img/aurelia-header.png" alt="">
          <hr>
          <p>
              <strong>Aurelia Charters</strong> is a sailing and kayaking yacht charter business, serving residents and visitors to the Gulf of Alaska. We are dedicated to providing sailors, kayakers and adventurers with an experience of pristine Alaskan wilderness that is both unique and accessible.<br>
              <br>
              Experience the beauty and wildlife of Prince William Sound, such as Orcas, Humpback Whales, and  Sea Lions. Charter the entire vessel or we’ll help you combine your trip with other guests. Contact us today to start your own Alaskan adventure!
          </p>
          <button class="contact-btn">Contact Us</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="section2">
    <div class="container">
      <div id='section2-card' class="col-sm-12 col-md-6 col-lg-5">
        <div class="card">
          <div class="card-body">
            <p>
                <strong>Aurelia Charters</strong> is committed to the principles of Eco-tourism,  by anchoring each night in one of Prince William Sound’s tranquil coves we minimize our impact on the wilderness shoreline.<br>
                <br>
                Exploring the places we visit by kayak is a favorite activity, giving guests the chance to walk the pristine beaches of Alaska, and the opportunity to learn more about plants, wildlife, and the natural history of this beautiful state. Our seaworthy shore boat offers an easy alternative for non-kayaking guests.<br>
                <br>
                Aurelia is also available for science or education trips, call us with your needs.<br>
                <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="section3">
      <div class="container">
        <div class="col-sm-12 col-md-6 col-lg-5">
          <div class="card">
            <div class="card-body">
              <p>
                  In addition to wildlife viewing, we visit some of the most spectacular glaciers in the world, such as Columbia and Meares glaciers. The Chugach Mountains provide a dramatic backdrop to our voyages and plenty of opportunity for exciting photography.<br>
                  <br>
                  <strong>Join us on the Aurelia and start your Alaskan adventure today.</strong>
                  <br><br>
                  <iframe id="youTubeEmbed" src="https://www.youtube.com/embed/V3Sp0Om8x3k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <button class="contact-btn">Contact Us</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>