

/* Page Wide */

.contact-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    height: 50px;
    background-color: rgba(42, 47, 92, 0.6);
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 15px;
}

.contact-btn:hover {
    background-color: rgba(20, 22, 41, 0.6);
    outline: none;
    cursor: pointer;
}

.card {
    border-radius: 25px;
    color: white;
    background-color: rgba(42, 47, 92, 0.6)
}

/* Section 1 */

#section1 {
    background-image: url('../../assets/img/home-sec1bg.jpg');
    background-size: cover;
    background-position: bottom;
    padding-top: 100px;
    padding-bottom: 190px;
}

@media only screen and (min-width: 768px) {
    #section1 {
        padding-top: 190px;
        padding-bottom: 190px;
    }
  }

hr {
    background-color: white;
}

#headerImg {
    max-width: 85%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* Section 2 */

#section2 {
    background-image: url('../../assets/img/home-sec2bg.jpg');
    background-size: cover;
    background-position: bottom;
    padding-top: 50px;
    padding-bottom: 25px;
    height: 700px;
}

#section2-card {
    float: right;
    display: block;
}

/* Section 3 */

#section3 {
    background-image: url('../../assets/img/home-sec3bg.jpg');
    background-size: cover;
    background-position: left;
    padding-top: 50px;
    padding-bottom: 25px;
    height: 700px;
}

#youTubeEmbed {
    border-style: solid;
    border-color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}
